@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-brand-accentLavender;
  }

  body {
    @apply bg-brand-secondary font-body text-brand-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}
